VITE_BRAND_NAME=LAB
VITE_DEMO_MODE=true
VITE_VERSION=1.0.0
VITE_AUTH_MODE=demo
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_ALLOWED_DOMAIN=zapata.com.mx
VITE_FIREBASE_FUNCTIONS_REGION=us-central1